<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylehome.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  rel="stylesheet" />
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/public/css/owl.theme.default.min.css"> 
  <title>Tumueble</title>
</head>
<body>
    <header>
        <div class="logo-header">
            <img class="logoxs" src="/img/logosmall.png" alt="">
            <img class="logoxl" src="/img/logobig.png" alt="">
        </div>
        <div class="section-header">
            <section class="icons-header">
                <div class="seguimiento">
                    <h3>Rastrea tu pedido</h3>
                    <i class="fas fa-truck"></i>
                </div>
                <i class="fas fa-user-circle"></i>
                <div class="shop-icon">
                    <i class="fas fa-shopping-cart"></i>
                    <div class="text-shop-icon">
                        <h4>0</h4>
                    </div>
                </div>
                <i class="fas fa-sign-out-alt"></i>
                <i class="fas fa-bars"></i>
            </section>
            <section class="search-header search-header1">
                <form action="">
                    <i class="fas fa-search"></i>
                    <input type="text" name="search" id="search" placeholder="Search">
                </form>
            </section>
        </div>
        <section class="search-header search-header2">
            <form action="">
                <i class="fas fa-search"></i>
                <input type="text" name="search" id="search" placeholder="Search">
            </form>
        </section>
        <section class="list-header">
            <ul>
                <li>MUEBLES <i class="fas fa-caret-down"></i></li>
                <li>ORGANIZACIÓN <i class="fas fa-caret-down"></i></li>
                <li>DECORACIÓN <i class="fas fa-caret-down"></i></li>
                <li>ILUMINACIÓN <i class="fas fa-caret-down"></i></li>
                <li>ELECTRO HOGAR <i class="fas fa-caret-down"></i></li>
                <li>PERSONALIZACIÓN <i class="fas fa-caret-down"></i></li>
                <li class="li-oferta">OFERTAS <i class="fas fa-caret-down"></i></li>
            </ul>
        </section>
    </header>

    <article class="slider-top">
        <div class="owl-container">
            <div class="owl-carousel owl-theme">
                <div class="item"> <img src="/img/BANNERMOBILE1.jpg" alt=""></div>
                <div class="item"> <img src="/img/BANNERMOBILE2.jpg" alt=""></div>
                <div class="item"> <img src="/img/BANNERMOBILE3.jpg" alt=""></div>
                <div class="item"> <img src="/img/navidad.jpg" alt=""></div>
              </div>
        </div>
    </article>
    <main>
        <section class="products">
            <article class="product">
                <div class="flag-oferta">
                    <div class="out"></div>
                    <p>Oferta</p>
                </div>
                    <img class="img1" src="/img/products/01.jpg" alt="">
                    <img class="img2" src="/img/products/01-01.jpg" alt="">
                <div class="product-description">
                    <h2>Sofá 2P Josepth Gris</h2>
                  <div class="product-price" >
                    <p>$1.099.990</p>
                    <p class="discount">- 30 %</p>
                  </div>
                  <div class="buttons">
                    <button class="purchase-footer"><h4>COMPRAR</h4></button>
                    <button class="more-footer"><h4>VER MAS</h4></button>
                  </div>
                  </div>
            </article>
            <article class="product">
                <div class="flag-oferta">
                    <div class="out"></div>
                    <p>Oferta</p>
                </div>
                    <img class="img1" src="/img/products/02.jpg" alt="">
                    <img class="img2" src="/img/products/02-02.jpg" alt="">
                <div class="product-description">
                    <h2>Sofá 3P Sophia Azul Índigo</h2>
                  <div class="product-price" >
                    <p>$1.499.990</p>
                    <p class="discount">- 30 %</p>
                  </div>
                  <div class="buttons">
                    <button class="purchase-footer"><h4>COMPRAR</h4></button>
                    <button class="more-footer"><h4>VER MAS</h4></button>
                  </div>
                  </div>
            </article>            
            <article class="product">
                <div class="flag-oferta">
                    <div class="out"></div>
                    <p>Oferta</p>
                </div>
                    <img class="img1" src="/img/products/03.jpg" alt="">
                    <img class="img2" src="/img/products/03-03.jpg" alt="">
                <div class="product-description">
                    <h2>Sofá Cama Cajón Belha Azul</h2>
                  <div class="product-price" >
                    <p>$2.499.990</p>
                    <p class="discount">- 30 %</p>
                  </div>
                  <div class="buttons">
                    <button class="purchase-footer"><h4>COMPRAR</h4></button>
                    <button class="more-footer"><h4>VER MAS</h4></button>
                  </div>
                  </div>
            </article>
            <article class="product">
                <div class="flag-oferta">
                    <div class="out"></div>
                    <p>Oferta</p>
                </div>
                    <img class="img1" src="/img/products/04.jpg" alt="">
                    <img class="img2" src="/img/products/04-04.jpg" alt="">
                <div class="product-description">
                    <h2>Sofá Sofá Cama Mahatan Gris</h2>
                  <div class="product-price" >
                    <p>$2.199.990</p>
                    <p class="discount">- 30 %</p>
                  </div>
                  <div class="buttons">
                    <button class="purchase-footer"><h4>COMPRAR</h4></button>
                    <button class="more-footer"><h4>VER MAS</h4></button>
                  </div>
                  </div>
            </article>
            <article class="product">
                <div class="flag-oferta">
                    <div class="out"></div>
                    <p>Oferta</p>
                </div>
                    <img class="img1" src="/img/products/05.jpg" alt="">
                    <img class="img2" src="/img/products/05-05.jpg" alt="">
                <div class="product-description">
                    <h2>Sofá En L Denise Azul Derecha</h2>
                  <div class="product-price" >
                    <p>$3.879.990</p>
                    <p class="discount">- 30 %</p>
                  </div>
                  <div class="buttons">
                    <button class="purchase-footer"><h4>COMPRAR</h4></button>
                    <button class="more-footer"><h4>VER MAS</h4></button>
                  </div>
                  </div>
            </article>
            <article class="product">
                <div class="flag-oferta">
                    <div class="out"></div>
                    <p>Oferta</p>
                </div>
                    <img class="img1" src="/img/products/06.jpg" alt="">
                    <img class="img2" src="/img/products/06-06.jpg" alt="">
                <div class="product-description">
                    <h2>Sofá En L Davenport Reversible Azul</h2>
                  <div class="product-price" >
                    <p>$2.999.990</p>
                    <p class="discount">- 30 %</p>
                  </div>
                  <div class="buttons">
                    <button class="purchase-footer"><h4>COMPRAR</h4></button>
                    <button class="more-footer"><h4>VER MAS</h4></button>
                  </div>
                  </div>
            </article>
            <article class="product">
                <div class="flag-oferta">
                    <div class="out"></div>
                    <p>Oferta</p>
                </div>
                    <img class="img1" src="/img/products/07.jpg" alt="">
                    <img class="img2" src="/img/products/07-07.jpg" alt="">
                <div class="product-description">
                    <h2>Sofá 3P Mánchester Mostaza Nogal</h2>
                  <div class="product-price" >
                    <p>$1.351.900</p>
                    <p class="discount">- 30 %</p>
                  </div>
                  <div class="buttons">
                    <button class="purchase-footer"><h4>COMPRAR</h4></button>
                    <button class="more-footer"><h4>VER MAS</h4></button>
                  </div>
                  </div>
            </article>            <article class="product">
                <div class="flag-oferta">
                    <div class="out"></div>
                    <p>Oferta</p>
                </div>
                    <img class="img1" src="/img/products/08.jpg" alt="">
                    <img class="img2" src="/img/products/08-08.jpg" alt="">
                <div class="product-description">
                    <h2>Sofá 3P Chester Gris Plata</h2>
                  <div class="product-price" >
                    <p>$3.299.990</p>
                    <p class="discount">- 30 %</p>
                  </div>
                  <div class="buttons">
                    <button class="purchase-footer"><h4>COMPRAR</h4></button>
                    <button class="more-footer"><h4>VER MAS</h4></button>
                  </div>
                  </div>
            </article>
        </section>
        <section class="acordeon-1">
            <h2>Filtros</h2>
                <section id="acordeon__1">
                    <a href="#acordeon__1">Marca <i class="fas fa-caret-down"></i></a>
                        <div class="in_out"><input type="checkbox" name="" id="">
                            <h3>Manhátan</h3>
                        </div>
                        <div class="in_out"><input type="checkbox" name="" id="">
                            <h3>New York</h3>
                        </div>
                        <div class="in_out"><input type="checkbox" name="" id="">
                            <h3>Belha</h3>
                        </div>
                        <div class="in_out"><input type="checkbox" name="" id="">
                            <h3>Consect</h3>
                        </div>    
                </section>
        
                <section id="acordeon__2">
                    <a href="#acordeon__2">Material <i class="fas fa-caret-down"></i></a>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>Pino</h3>
                    </div>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>Aglomerado</h3>
                    </div>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>MDF</h3>
                    </div>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>Triplex</h3>
                    </div>
                </section>
        
                <section id="acordeon__3">
                    <a href="#acordeon__3">Color <i class="fas fa-caret-down"></i></a>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>Cafe</h3>
                    </div>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>Azul</h3>
                    </div>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>Turqueza</h3>
                    </div>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>Gris</h3>
                    </div>
                </section>
        
                <section id="acordeon__4">
                    <a href="#acordeon__4">Tamaño <i class="fas fa-caret-down"></i></a>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>Sofá dos puestos</h3>
                    </div>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>Sofá tres puestos</h3>
                    </div>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>Sofá cuatro puestos</h3>
                    </div>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>Sofá modular</h3>
                    </div>
                </section>

                <section id="acordeon__5">
                    <a href="#acordeon__5">Precio <i class="fas fa-caret-down"></i></a>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>$500.000 - $1.000.000 (8)</h3>
                    </div>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>$1.000.000 - $1.500.000 (59)</h3>
                    </div>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>$1.500.000 - $2.500.000 (39)</h3>
                    </div>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>$2.500.000 - $3.500.000 (21)</h3>
                    </div>
                    <div class="in_out"><input type="checkbox" name="" id="">
                        <h3>$3.500.000 O MAS (7)</h3>
                    </div>
                </section>

                <div class="eliminar-filtros">
                    <button>Eliminar firtros</button>
                </div>
        </section>

        
    </main>

    <footer>

    </footer>
<!-- scripts ------------------------------------------------------------------------>
<script src="/js/jquery.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>